{% extends 'base.html' %}
{% load static %}

{% block title %}
  - All_Courses
{% endblock %}
{% block internal_style %}
  <style>
    body {
      scrollbar-width: none;
    }
    #searchInput {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
    }
    .sort-options {
      background-color: #a371d9;
      box-shadow: none;
    }
    .accordion-button {
      box-shadow: none;
      border-bottom: none;
      background-color: var(--bg-color-1);
      color: var(--text-color-1);
    }
    .accordion-button:focus,
    .accordion-button:not(.collapsed) {
      box-shadow: none;
      border-bottom: none;
    }
    .pagination .page-link {
      background-color: var(--bg-color-3);
      color: var(--text-color-1);
      padding: 8px 16px;
      border: 1px solid var(--text-color-3);
    }
    .pagination .page-link:hover {
      background-color: var(--text-color-2);
      color: var(--bg-color-1);
    }
    .pagination .page-item.active .page-link {
      background-color: var(--text-color-2);
      color: var(--bg-color-1);
      border: none;
    }
    .pagination .page-link:focus {
      box-shadow: none;
    }
    .accordion-body .form-check {
      background-color: #a371d9 !important;
    }
    .accordion-item {
      box-shadow: none;
    }
    .accordion-body {
      background-color: #a371d9 !important;
      color: var(--text-color-1) !important;
      box-shadow: none !important;
    }
    .checkbox-options .form-check {
      background-color: #a371d9 !important;
    }
    .checkbox-options .form-check:hover {
      background-color: #8f62bf !important;
    }
    .accordion-item {
      border: none;
    }
    .filter-section-button {
      height: 2rem;
      font-size: 14px;
    }
    .filter-section-button {
      margin-right: 5px;
    }
    #courseGrid .card {
      transition: transform 0.2s;
      border-radius: 10px;
      width: 300px;
    }
    .course-card {
      padding: 10px;
      border-radius: 10px;
    }
    .card-body {
      background-color: #2a1d38;
      border-radius: 0 0 10px 10px;
    }
    .card-title {
      font-size: 1.4rem;
      font-weight: bold;
    }
    .text-light {
      color: #ffffff !important;
      font-weight: 250;
    }
    .fw-bold {
      font-weight: 600;
    }
    #pagination .page-item.active a,
    #pagination .page-item.active {
      background-color: var(--text-color-3);
    }
    .color-set {
      color: var(--text-color-2);
    }
    .search-container {
      width: 100%;
      padding: 12px 0;
      display: flex;
      justify-content: center;
    }
    form {
      width: 95%;
      display: flex;
      align-items: center;
      background-color: var(--bg-color-3);
      border-radius: 2px;
      padding: 10px 20px;
    }
    input[type='text'] {
      flex: 1;
      padding: 2px 20px;
      border: none;
      font-size: 1.2rem;
      outline: none;
      color: #e3c9ff;
      background-color: transparent;
    }
    input[type='text']::placeholder {
      color: #e3c9ff;
      font-weight: 100;
    }
    .search-icon {
      color: var(--icon-color);
      margin-right: 10px;
      font-size: 1rem;
    }
    input[type='text']:focus {
      border: #ced4da;
    }
    form:focus-within {
      border: 2px solid #433156;
    }
    .accordion .accordion-item .accordion-header .accordion-button::after {
      background-color: rgb(102, 83, 127) !important;
      color: var(--text-color-1);
      border: none;
    }
    .accordion-button:not(.collapsed)::after,
    .accordion-button.collapsed::after {
      box-shadow: -2px -2px 2px 0px rgba(200, 168, 241, 0.763), 2px 2px 2px 0px rgba(165, 108, 240, 0.455) !important;
    }
    .custom-gap {
      gap: 4rem;
    }
    .features-title {
      margin-bottom: 3rem;
    }
    .card-img-top {

      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  </style>
{% endblock %}

{% block body_content %}
  <div class="container my-5 mb-xl-8">
    <h1 class="fw-bold fs-1" style="color: var(--text-color-2);">Vulntech Courses</h1>
  </div>

  <div class="container">
    <div class="row">
      <!-- Filter Sidebar: Hidden on mobile -->
      <div class="col-xl-3 d-none d-md-block mb-5 mb-xl-0">
        <div class="fade-up vertical-scroll p-4" id="courseSidebar">
          <h3 class="fw-bold text-info">Filters</h3>
          <section class="accordion my-4 module-section" id="filters">
            <span for="searchCourse">Search Course</span>
            <div class="search-container">
              <form>
                <span class="material-symbols-outlined search-icon">search</span>
                <input type="text" id="searchInput" placeholder="Search" onkeyup="searchCourses()" />
              </form>
            </div>

            <div class="accordion-item mt-3">
              <h2 class="accordion-header" id="courseCategory"><a class="accordion-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#courseCategoryCollapse" aria-expanded="true" aria-controls="courseCategoryCollapse">Course Categories</a></h2>
              <div id="courseCategoryCollapse" class="accordion-collapse collapse show" aria-labelledby="courseCategory">
                <div class="accordion-body">
                  {% for category in categories %}
                    <div class="form-check py-1 text-white border-bottom">
                      <input class="form-check-input category-checkbox" type="checkbox" id="category{{ category.id }}" value="{{ category.name }}" />
                      <label class="form-check-label" for="category{{ category.id }}">{{ category.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="courseLevel"><a class="accordion-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#courseLevelCollapse" aria-expanded="true" aria-controls="courseLevelCollapse">Course Level</a></h2>
              <div id="courseLevelCollapse" class="accordion-collapse collapse show" aria-labelledby="courseLevel">
                <div class="accordion-body">
                  <div class="form-check py-1 text-white border-bottom">
                    <input class="form-check-input level-checkbox" type="checkbox" id="beginner" value="Beginner" />
                    <label class="form-check-label" for="beginner">Beginner</label>
                  </div>
                  <div class="form-check py-1 text-white border-bottom">
                    <input class="form-check-input level-checkbox" type="checkbox" id="normal" value="Normal" />
                    <label class="form-check-label" for="normal">Normal</label>
                  </div>
                  <div class="form-check py-1 text-white border-bottom">
                    <input class="form-check-input level-checkbox" type="checkbox" id="pro" value="Pro" />
                    <label class="form-check-label" for="pro">Pro</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="freeCourse"><a class="accordion-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#freeCourseCollapse" aria-expanded="true" aria-controls="freeCourseCollapse">Free Courses Only</a></h2>
              <div id="freeCourseCollapse" class="accordion-collapse collapse show" aria-labelledby="freeCourse">
                <div class="accordion-body">
                  <div class="form-check py-1 text-white border-bottom">
                    <input class="form-check-input isfree-checkbox" type="checkbox" id="isFree" value="True" />
                    <label class="form-check-label" for="isFree">Free Courses</label>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Courses Grid -->
      <div class="col-xl-9">
        <div class="row" id="courseGrid">
          {% for i in course %}
            <div class="col-lg-4 col-sm-6 mb-4 course-card ml-1" data-course-name="{{ i.title|lower }}" data-course-category="{{ i.category|lower }}" data-course-level="{{ i.level|lower }}" data-course-price="{{ i.price }}">
              <a href="{% url 'course_detail' i.course_slug %}" class="card border-0 text-decoration-none w-100 h-100" style="background-color: #2f263a;">
                <img src="{{ i.thumbline_image.url }}" alt="Course Image" class="card-img-top rounded" />
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex align-items-center justify-content-end text-info ms-auto">
                      <i class="fa fa-signal me-1" aria-hidden="true"></i>
                      <span class="fw-bold">{{ i.level }}</span>
                    </div>
                  </div>
                  <h5 class="card-title text-white">{{ i.title }}</h5>
                  <p class="text-light" style="margin-bottom: 0;">
                    Category: <span class="fw-bold text-secondary">{{ i.category }}</span>
                  </p>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="d-flex align-items-center">
                      <div class="rating" style="color: gold;">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                        <span class="text-white">4.5/5</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-start mt-3">
                    <h5 class="fw-bold color-set">₹{{ i.price }}</h5>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
    
        <nav class="mb-11" aria-label="Page navigationa">
          <ul class="d-flex justify-content-center mb-5" id="pagination"></ul>
        </nav>
      </div>    
    </div>
  </div>
{% endblock %}

{% block internal_script %}
  <script type="text/javascript">
    const checkboxes = document.querySelectorAll('.form-check')
    checkboxes.forEach((div) => {
      div.addEventListener('click', function () {
        const checkbox = div.querySelector('input[type="checkbox"]')
        checkbox.checked = !checkbox.checked
      })
    })
    
    function getCourses(tot, slide, len) {
      function totslides(first, last) {
        return Array.from(Array(last - first + 1), (_, i) => i + first)
      }
      var swid = len < 9 ? 1 : 2
      var lwid = (len - swid * 2 - 3) >> 1
      var rwid = (len - swid * 2 - 3) >> 1
      if (tot <= len) {
        return totslides(1, tot)
      }
      if (slide <= len - swid - 1 - rwid) {
        return totslides(1, len - swid - 1).concat(0, totslides(tot - swid + 1, tot))
      }
      if (slide >= tot - swid - 1 - rwid) {
        return totslides(1, swid).concat(0, totslides(tot - swid - 1 - rwid - lwid, tot))
      }
      return totslides(1, swid).concat(0, totslides(slide - lwid, slide + rwid), 0, totslides(tot - swid + 1, tot))
    }
    
    $(function () {
      var totItems = $('#courseGrid .course-card').length
      var NumCourses = 9
      var tot = Math.ceil(totItems / NumCourses)
      var pagSize = 5
      var curr
      function showSlide(curSlide) {
        var hasScrolled = false
        if (curSlide < 1 || curSlide > tot) return false
        curr = curSlide
        $('#courseGrid .course-card')
          .hide()
          .slice((curr - 1) * NumCourses, curr * NumCourses)
          .show()
        var scrolledKey = 'hasScrolled'
        var hasScrolled = sessionStorage.getItem(scrolledKey)
        function scrollToTop() {
          $('html, body').animate({ scrollTop: $('#courseGrid').offset().top }, 100)
        }
        if (!hasScrolled) {
          sessionStorage.setItem(scrolledKey, true)
          window.onbeforeunload = function () {
            scrollToTop()
          }
        }
        $('#pagination li').slice(1, -1).remove()
        getCourses(tot, curr, pagSize).forEach((item) => {
          $('<li>')
            .addClass('page-item')
            .addClass(item ? 'current-page' : 'dots')
            .toggleClass('active', item === curr)
            .append(
              $('<a>')
                .addClass('page-link')
                .attr({ href: 'javascript:void(0)' })
                .text(item || '...')
                .on('click', function () {
                  showSlide(item)
                })
            )
            .insertBefore('.next-slide')
        })
        $('.prev-slide').toggleClass('disable', curr === 1)
        $('.next-slide').toggleClass('disable', curr === tot)
        return true
      }
      $('#pagination').append(
        $('<li>')
          .addClass('page-item')
          .addClass('prev-slide')
          .append($('<a>').addClass('page-link').attr({ href: 'javascript:void(0)' }).append($('<span>').attr('aria-hidden', 'true').text('<<<'))),
        $('<li>')
          .addClass('page-item')
          .addClass('next-slide')
          .append($('<a>').addClass('page-link').attr({ href: 'javascript:void(0)' }).append($('<span>').attr('aria-hidden', 'true').text('>>>')))
      )
      $('#courseGrid').show()
      showSlide(1)
      $(document).on('click', '#pagination li.current-slide:not(.active)', function () {
        return showSlide(+$(this).text())
      })
      $('.next-slide').on('click', function () {
        return showSlide(curr + 1)
      })
      $('.prev-slide').on('click', function () {
        return showSlide(curr - 1)
      })
    })
    
    document.querySelectorAll('.category-checkbox').forEach(function (checkbox) {
      checkbox.addEventListener('change', function () {
        filterCourses()
      })
    })
    document.querySelectorAll('.level-checkbox').forEach(function (checkbox) {
      checkbox.addEventListener('change', function () {
        filterCourses()
      })
    })
    document.getElementById('isFree').addEventListener('change', function () {
      filterCourses()
    })
    function filterCourses() {
      var selectedCategories = []
      var selectedLevels = []
      var isFree = document.getElementById('isFree').checked
      document.querySelectorAll('.category-checkbox:checked').forEach(function (checkbox) {
        selectedCategories.push(checkbox.value.toLowerCase())
      })
      document.querySelectorAll('.level-checkbox:checked').forEach(function (checkbox) {
        selectedLevels.push(checkbox.value.toLowerCase())
      })
      var courseGrid = document.getElementById('courseGrid')
      var courses = courseGrid.getElementsByClassName('course-card')
      for (var i = 0; i < courses.length; i++) {
        var courseCategory = courses[i].getAttribute('data-course-category').toLowerCase()
        var courseLevel = courses[i].getAttribute('data-course-level').toLowerCase()
        var coursePrice = courses[i].getAttribute('data-course-price')
        var matchesCategory = selectedCategories.length === 0 || selectedCategories.includes(courseCategory)
        var matchesLevel = selectedLevels.length === 0 || selectedLevels.includes(courseLevel)
        var matchesPrice = !isFree || (isFree && coursePrice == 0)
        if (matchesCategory && matchesLevel && matchesPrice) {
          courses[i].style.display = ''
        } else {
          courses[i].style.display = 'none'
        }
      }
    }
  </script>
{% endblock %}
