{% extends 'base.html' %}
{% load static %}
{% block title %}
  - Password Reset
{% endblock %}
{% block body_content %}
  <section class="account_page d-flex align-items-center justify-content-center">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <div class="d-flex p-5 align-items-center justify-content-center position-absolute account_box">
      <div class="d-flex w-100 align-items-center justify-content-center position-relative gap-4" style="flex-direction: column;">
        {% if valid_link %}
          <h2 class="mb-3 form-title">Enter New Password</h2>
          {% for i in messages %}
            <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
              <div class="fs-6">{{ i|escape }}</div>
              <button type="button" class="btn-close ms-auto bg-transparent" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}

          {% for error in combined_errors %}
            <div class="alert alert-warning d-flex align-items-center alert-dismissible mx-auto w-75 fade show" role="alert">
              <div class="fs-6" style="font-size: 0.85em">{{ error|escape }}</div>
              <button type="button" class="btn-close ms-auto bg-transparent" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}

          <p class="m-0">Please enter your new password twice so we can verify you typed it in correctly</p>

          <form class="w-100" method="post" id="reset_form">
            {% csrf_token %}

            <div class="mb-3">
              <label for="reset_password" class="form-label">Password</label>
              <div class="input-group position-relative">
                <input type="password" class="form-control shadow-none p-1 password" id="reset_password" name="{{ form.new_password1.name|escape }}" required />
                <div class="input-group-text p-1 show_password">
                  <i class="fas fa-eye-slash text-white p-1"></i>
                </div>
                <div class="p-3 password_strength">
                  <h5>Password Contains</h5>
                  <ul class="list-group mt-2">
                    <li class="list-group-item">At least 8 characters long</li>
                    <li class="list-group-item">At least 1 number (0-9)</li>
                    <li class="list-group-item">At least 1 lowercase letter (a-z)</li>
                    <li class="list-group-item">At least 1 uppercase letter (A-Z)</li>
                    <li class="list-group-item">At least 1 special symbol</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="reset_confirm_password" class="form-label">Confirm Password</label>
              <div class="input-group">
                <input type="password" class="form-control shadow-none p-1 password" id="reset_confirm_password" name="{{ form.new_password2.name|escape }}" required />
                <div class="input-group-text p-1 show_password">
                  <i class="fas fa-eye-slash text-white p-1"></i>
                </div>
              </div>
              <h6 class="text-danger input-warning mt-2" id="reset_password-warning" style="display: none;">Doesn't match with the Password</h6>
            </div>

            <button class="btn btn-primary w-100 mt-sm-4 mt-3" type="submit">Submit</button>
          </form>
        {% else %}
          <h2 class="mb-3 form-title">Reset Link Expired</h2>
          <p>This password reset link has expired. Please request a new one.</p>
          <a class="btn btn-primary w-100 mt-sm-4 mt-3 text-white" href="{% url 'reset_password' %}">Request</a>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}

{% block internal_script %}
  <script>
    const password = document.getElementById('reset_password')
    const confirm_password = document.getElementById('reset_confirm_password')
    const password_strength = document.querySelectorAll('.password_strength .list-group-item')
    const pass_warning = document.getElementById('reset_password-warning')
    let valid_form = true
    let password_conditions = [{ regex: /.{8}/ }, { regex: /\d/ }, { regex: /[a-z]/ }, { regex: /[A-Z]/ }, { regex: /[^a-zA-Z0-9]/ }]
    
    password.addEventListener('input', function () {
      let allConditionsMet = true
      password_conditions.forEach((item, i) => {
        var check = item.regex.test(password.value)
    
        if (check) {
          password_strength[i].classList.add('checked')
        } else {
          password_strength[i].classList.remove('checked')
          allConditionsMet = false
        }
      })
      if (allConditionsMet) {
        document.querySelector('.password_strength').style.opacity = 0
        valid_form = true
      } else {
        document.querySelector('.password_strength').style.opacity = 1
        valid_form = false
      }
    })
    
    confirm_password.addEventListener('input', function () {
      const errorElement = confirm_password.nextSibling
      if (confirm_password.value !== password.value) {
        confirm_password.classList.add('warning')
        document.querySelector('#reset_confirm_password ~ .input-group-text').classList.add('warning')
        pass_warning.style.display = 'block'
        valid_form = false
      } else {
        confirm_password.classList.remove('warning')
        document.querySelector('#reset_confirm_password ~ .input-group-text').classList.remove('warning')
        pass_warning.style.display = 'none'
        valid_form = true
      }
    })
    
    document.getElementById('reset_form').onsubmit = (event) => {
      if (!valid_form) {
        event.preventDefault()
      }
    }
  </script>
{% endblock %}
