{% extends 'base.html' %}
{% load static %}
{% block title %} - Verify OTP{% endblock %}
{% block body_content %}

<section class="account_page d-flex align-items-center justify-content-center">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>

  <div class="d-flex p-5 align-items-center justify-content-center position-absolute account_box">
    <div class="d-flex w-100 align-items-center justify-content-center position-relative gap-4"
      style="flex-direction: column">
      <h2 class="mb-1 form-title">Verify your Account</h2>
      {% for i in messages %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <div class="fs-6"> {{i}}</div>
        <button type="button" class="btn-close ms-auto bg-transparent" data-bs-dismiss="alert"
          aria-label="Close"></button>
      </div>
      {% endfor %}

      <p><strong>Verification code</strong> sent to <small>{{masked_email}}</small></p>

      <form class="w-100" method="post">
        {% csrf_token %}
        <div id="otp_inputs" class="inputs d-flex flex-row justify-content-center mt-0">
          <input class="m-2 text-center form-control shadow-none rounded" type="text" id="first" name="otp_1"
            maxlength="1" />
          <input class="m-2 text-center form-control shadow-none rounded" type="text" id="second" name="otp_2"
            maxlength="1" />
          <input class="m-2 text-center form-control shadow-none rounded" type="text" id="third" name="otp_3"
            maxlength="1" />
          <input class="m-2 text-center form-control shadow-none rounded" type="text" id="fourth" name="otp_4"
            maxlength="1" />
          <input class="m-2 text-center form-control shadow-none rounded" type="text" id="fifth" name="otp_5"
            maxlength="1" />
        </div>

        <div class="d-flex align-items-center justify-content-between pt-1">
          <strong id="timer-text">Request a new code in <span id="resend-timer">00:60</span></strong>
          <strong id="resend-text" style="display: none;">Didn't get the code!</strong>
          <a href="#" id="resend-link" style="display: none;">Resend</a>
        </div>
        <button class="btn btn-primary w-100 mt-4" type="submit">Validate</button>
      </form>
    </div>
  </div>
  <div class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex align-items-center">
      <div class="toast-body">
        <i class="bi mx-2"></i>
        <span id="toast_text"></span>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</section>

{% endblock %}

{% block internal_script%}
<script>
  $(document).ready(function () {
    function OTPInput() {
      const inputs = $("#otp_inputs > *[id]");
      inputs.each(function (i) {
        $(this).on("keydown", function (event) {
          if (event.key === "Backspace") {
            $(this).val("");
            if (i !== 0) inputs.eq(i - 1).focus();
          } else {
            if (i === inputs.length - 1 && $(this).val() !== "") {
              return true;
            } else if ((event.keyCode > 47 && event.keyCode < 58) || (event.keyCode > 95 && event.keyCode < 106)) {
              $(this).val(event.key);
              if (i !== inputs.length - 1) inputs.eq(i + 1).focus();
              event.preventDefault();
            } else if (event.keyCode > 64 && event.keyCode < 91) {
              $(this).val(String.fromCharCode(event.keyCode));
              if (i !== inputs.length - 1) inputs.eq(i + 1).focus();
              event.preventDefault();
            }
          }
        });
      });
    }
    OTPInput();
  });


  let timerSeconds;
  const storedTimer = localStorage.getItem('timerSeconds');
  timerSeconds = (storedTimer) ? parseInt(storedTimer, 10) : 60;
  const toast_text = document.getElementById('timer-text');
  const resend_text = document.getElementById('resend-text');
  const resend_link = document.getElementById('resend-link');
  const toast_content = document.querySelector('.toast')
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast_content)

  function updateTimerText() {
    const minutes = Math.floor(timerSeconds / 60).toString().padStart(2, '0');
    const seconds = (timerSeconds % 60).toString().padStart(2, '0');
    document.getElementById('resend-timer').innerText = `${minutes}:${seconds}`;
  }
  function updateTimer() {
    if (timerSeconds > 0) {
      timerSeconds--;
      updateTimerText();
      setTimeout(updateTimer, 1000);
      localStorage.setItem('timerSeconds', timerSeconds.toString());
    } else {
      toast_text.style.display = "None";
      resend_text.style.display = 'inline';
      resend_link.style.display = 'inline';
    }
  }
  updateTimer();

  localStorage.setItem('storedURL', window.location.href);


  resend_link.addEventListener('click', async function (event) {
    event.preventDefault();
    const data = event.target.dataset.id;
    try {
      const response = await postJSON(data);
      toast_text.style.display = "inline";
      resend_text.style.display = 'none';
      resend_link.style.display = 'none';
      timerSeconds = 60;
      localStorage.setItem('timerSeconds', timerSeconds.toString());
      updateTimer();
      toastSuccess();
    } catch (error) {
      toastFail();
    }
  });

  function toastSuccess() {
    toast_content.classList.remove('text-bg-danger');
    toast_content.classList.add('text-bg-success');
    toast_content.querySelector('i.bi').classList.remove('bi-exclamation-circle-fill');
    toast_content.querySelector('i.bi').classList.add('bi-check-circle-fill');
    toast_content.querySelector('#toast_text').innerText = "Verification code sent successfully";
    toastBootstrap.show()
  }

  function toastFail() {
    toast_content.classList.remove('text-bg-success');
    toast_content.classList.add('text-bg-danger');
    toast_content.querySelector('i.bi').classList.remove('bi-check-circle-fill');
    toast_content.querySelector('i.bi').classList.add('bi-exclamation-circle-fill');
    toast_content.querySelector('#toast_text').innerText = "Something went wrong. Try again later.";
    toastBootstrap.show()
  }

  async function postJSON(data) {
    let link = "{% url 'resend_otp' %}";
    try {
      const response = await fetch(link, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify(data),
      });

      return await response.json();

    } catch (error) {
      console.error("Error:", error);
    }
  }


  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

</script>

{% endblock %}